{% extends "/base.html.twig" %}

{% block scripts_after %}
	<script src="/scripts/checkAge.js"></script>
{% endblock %}

{% block login %}
	{% if logIn is defined %}
<div class="container">
	<div class="row">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card card-signin my-5">
				<div class="card-body">
					<h5 class="card-title text-center">Log in</h5>
					{% if error is defined %}
						<p style="text-align: center; color: red">{{ error }}</p>
					{% endif %}
					<form class="form-signin" method="POST" action="logIn">
						<div class="form-label-group">
							<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
						</div>
						<br/>
						<div class="form-label-group">
							<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
							<input type="hidden" name="token" value=""/>
						</div>
						<br/>
						<button class="btn btn-lg btn-primary btn-block bg-dark" id=="submit-button" type="submit">Submit</button>
					</form>
				</div>
				{% endif %}
{% endblock %}

{% block register %}
{% if signIn is defined %}
	<div class="container">
	<div class="row">
	<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
	<div class="card card-signin my-5">
	<div class="card-body" id="signup-app">
		<h5 class="card-title text-center">Sign in</h5>
		{% if error is defined %}
			<p style="text-align: center; color: red">{{ error }}</p>
		{% endif %}
		<form class="form-signin" method="POST" action="signIn">
			<div class="form-label-group">
				<input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
			</div>
			<br/>
			<div class="form-label-group">
				<input type="text" name="name" class="form-control" placeholder="Name" required autofocus>
			</div>
			<br/>
			<div class="form-label-group">
				<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
			</div>
			<br/>
			<p class="text-sm-center font-weight-light font-italic text-danger" id="regexVerif"></p>
			<div class="form-label-group">
				<input type="password" id="password" name="password" onkeyup="regexOnPassword()" class="form-control" placeholder="Password" required>
				<input type="hidden" name="token" value=""/>
			</div>
			<br/>
			<div class="form-label-group">
				<input type="password" id="confirm_password" name="confirm_password" onkeyup="checkEqualityOnPasswords()" class="form-control"  placeholder="Confirm your password" required>
				<input type="hidden" name="token" value=""/>
			</div>
			<br/>
			<div class="form-label-group">
				<input type="date"
					   v-model="theDate"
					   id="birthdate"
					   max="{{ dateNow }}"
					   name="birthdate"
					   class="form-control"
					   placeholder="Birthdate"
					   required
				>
			</div>
			<br/>
			<button class="btn btn-lg btn-primary btn-block bg-dark" name="register" disabled="true" id="validate" type="submit">Submit</button>
			<p class="text-sm-center font-weight-light font-italic text-danger">${isMajeur}</p>
		</form>
	</div>

{% endif %}
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="/scripts/frontController.js"></script>
{% endblock %}